Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  portability-*,
  performance-*,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-string-compare,
  -bugprone-suspicious-memset-usage,
  -llvm-include-order,
  -altera-unroll-loops
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!tests/)'
FormatStyle: none
