Checks: >
  *,
  -abseil-*,
  -android-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -llvm-header-guard,
  -llvmlibc-restrict-system-libc-headers,
  -misc-include-cleaner,
  -modernize-*,
  -objc-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -clang-analyzer-alpha*,
  -llvm-include-order,
  -altera-unroll-loops

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

FormatStyle: none
